.live-search input{
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px #ddd;
    margin-bottom: 10px;
}
.live-search button{
    padding: 10px 15px;
    font-size: 16px;
    background: #333;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px #ddd;
}

.live-search .movies{
  display: flex;
  flex-wrap: wrap;
}

.live-search .movies h3{
    background-color: tomato;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    width: 250px;
}